@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&family=Montserrat+Alternates&family=Roboto+Serif:wght@300&family=Rowdies:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;700&family=Montserrat+Alternates&family=Roboto+Serif:wght@300&family=Rowdies:wght@700&display=swap");
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*,
::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #000;
}
.container {
  width: auto;
  margin: 10 10;
  padding: 0 auto;
}
.header {
  color: #000;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header_logo {
  padding: 20px;
  width: 20%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  letter-spacing: 3px;
}
.header-logo img {
  width: 150%;
  height: 60 px;
  object-fit: contain;
}
.nav {
  background-image: url(/images/самурай.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-color: #000;
  font-size: 14px;
  text-transform: uppercase;
}
.nav_burger {
  display: flex;
  vertical-align: 25px;
  padding: 1px 20px;
  justify-content: flex-end;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  text-decoration: none;
  width: 115%;
  list-style: none;
  gap: 20px;
}
.nav_burger {
  width: 115%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 70px;
  margin: 50px 50px;
  padding: 50px;
  list-style: none;
}

.nav_link {
  display: inline-block;
  vertical-align: top;
  margin: 0 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.2s linear;
}
